* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

body {
    height: 100vh;
    display: flex;
    background-color: black;

    justify-content: center;
    padding: 10px;
}

.pai {
    display: flex;
    text-align: center;
    flex-direction: column;

    align-items: center;
    background-color: aliceblue;
    height: 90vh;
    width: 100%;
    gap: 30px;
}

.icones{
    display: flex;

    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.formulario{
    display: flex;
    height: 50vh;
    background-color: rgb(224, 150, 150);
    width: 100%;
    flex-direction: column;
}

.gmail{
    display: flex;
    flex-direction: column;
}

.senha{
    display: flex;
    flex-direction: column;
}